@font-face {
	font-family: 'VulfMonoWeb';
	src: url('VulfMonoRegular.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

body {
    background-color: #fff5ff;
    padding:20px;
	margin:auto;
}

#contentdiv {
    padding:50px;
    margin:auto;
}

#keydiv {
    width:100px;
    height:75px;
    margin: auto;
    background-color: #f4ecc4;
    border-color: #8a743d;
    text-align: center;
    font-size: 40pt;
    padding-top: 25px;
    border-style: ridge;
    border-width: 4pt;
}

h1 {
    text-align: center;
    font-size: 5vw;
}

html {
    font-family: VulfMonoWeb, monospace;
    color: color(srgb 0.2128 0.1774 0.0926);
}